@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: "poppins", sans-serif;
}

section{
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    background: url("ball.jpg");
    justify-content: flex-start;
    background-size: cover;
    background-position: center;
    min-height: 100vh;

}

header{
    display: flex;
    top: 0;
    padding: 40px 100px;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    font-size: 70px;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #3DDC84;
}


header .navbar a{
    position: relative;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    color:#22223b;
    background: white;
    border-radius: 30px;
    transition: 0.8s;
    transition-property: background;
}
header .navbar a:not(:last-child){
    margin-right: 30px;
}
header .navbar a:hover{
    background: #00A6A6;
    color: white;  
}

.container h2{
    max-width: 650px;
    margin: 60px 100px;
    font-weight: 200;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 3px;
    color: #3DDC84;
    font-family: 'Luxurious Roman', cursive;
}
.container h2 span{
    font-size: 25px ;
}


.container p{
    max-width: 650px;
    margin: 60px 100px;
    font-weight: 200;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 30px;
    text-align: left;
    color: teal;
    font-family: 'Luxurious Roman', cursive;
}
.container a{
    background:white ;
    text-decoration: none;
    margin: 60px 100px;
    color: black;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px 20px;
    transition: 0.8s;

}

.container a:hover{
    background-color: teal;
    color: white;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.icons a{
    font-size: 30px;
    position:  relative;
    color: #00A6A6;
    transition: 0.5s;
}

.icons a:not(:last-child){
    margin-right: 60px;

}
.icons a:hover{
    transform: scale(1.5);
}
